.new-popup .common-popContent table{
    width: 800px;
}
.new-popup .common-popContent table{
    border-left: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}
.new-popup table tr td {
    line-height: 28px;
    text-indent: 20px;
}
.new-popup .common-popContent table tr th {
    line-height: 30px;
    font-size: 16px;
    text-indent: 20px;
}
.popContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    margin-left: -300px;
    background: #f0eff0;
    border-radius: 8px;
    padding: 20px;
}
.new-popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 150;
}

.closeBtn {
    width: 800px;
    display: block;
    color: red !important;
    font-size: 25px;
    text-align: right;
    margin: 0 auto 15px;
}
.closeBtn span {
    padding: 10px 20px;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #333;
}
.closeBtn:hover {
    text-decoration: none;
}

.common-popContent {
    width: 800px;
    max-height: 520px;
    overflow-y: scroll;
    color: #333;
    padding: 10px 20px;
    z-index: 100;
    padding-bottom: 15px;
    border-radius: 10px;
}