<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="haze_server"/>
    <dubbo:registry protocol="zookeeper" address="172.16.185.92:2181" client="zkclient"/>

    <!--服务调用：数据中心-->
    <!--<dubbo:reference interface="com.tan66.datawarehouse.openapi.rpc.api.OperationSystemService" id="operationSystemService" check="false" timeout="8000" version="1.0.0"/>-->
    <dubbo:reference group="haze" interface="com.vxianjin.gringotts.pay.service.OrderLogService" id="orderLogService" check="false" timeout="8000"/>
    <dubbo:reference group="haze" interface="com.vxianjin.gringotts.pay.service.OffLinePay" id="offLinePay" check="false" timeout="8000"/>
    <dubbo:reference group="dwh" interface="com.tan66.datawarehouse.openapi.rpc.api.DataWareHouseService" id="dataWareHouseService" version="1.0.0"/>

</beans>